@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;

    --color-cn-cafe:       #5C271A;
    --color-cn-cafe-dark:  #3D1810;
    --color-cn-cafe-light: #7F5E43;
    --color-cn-verde:      #1D483B;
    --color-cn-verde-dark: #132E26;
    --color-cn-azul:       #18405D;
    --color-cn-menta:      #ACE7D3;
    --color-cn-salmon:     #F6B1A4;
    --color-cn-crema:      #FBEBB8;

    --color-accent:            var(--color-cn-cafe);
    --color-accent-content:    var(--color-cn-cafe);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent:            var(--color-cn-crema);
        --color-accent-content:    var(--color-cn-crema);
        --color-accent-foreground: var(--color-cn-cafe);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
